body {
  margin: 0;
  font-family: Arial;
  background: white;
}

#hero {
  position: relative;
  height: 70vh;
  color: white;
}

#video-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.navbar {
  background: black;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.hero-content {
  text-align: center;
  margin-top: 200px;
}

section {
  width: 80%;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border: 1px solid lightgray;
}

.project-container {
  display: flex;
  gap: 15px;
}

.project-box {
  width: 50%;
  background: #eaeaea;
  padding: 10px;
  text-align: center;
}

.project-box img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

form {
  display: flex;
  flex-direction: column;
  width: 250px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid gray;
}

button {
  padding: 10px;
  background: black;
  color: white;
  border: none;
}

footer {
  text-align: center;
  background: black;
  color: white;
  padding: 10px;
  margin-top: 20px;
}
